@charset "UTF-8";
/* CSS Document created by Maddie Johnson, Spring 2019*/

/*-----------------HTML TAG STYLES ------------------*/

body {
    margin: 0;
    padding: 0;
	font-family: 'Gothic A1', sans-serif;
}

p {
    font-size: 14px;
	line-height: 1.6em;
	color: #FFF;
}

h2 {
    font-size: 35px;
    font-family: 'Pragati Narrow', sans-serif;
}

table {
	border: solid #8A807E 1px;
	margin-right: 30px;
	font-size: 14px;
}

td {
	border: solid #8A807E 1px;
	padding: 8px;
}

th {
	font-weight: bold;
	background-color: rgba(138, 128, 127, 0.5);
	text-align: center;
	padding: 8px;
	border: solid #8A807E 1px;
}

ul li{
    font-size: 14px;
}

a:link {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #FFF;
}

a:hover {
	color: #8A807E;
	font-weight: bold;
}

/*-------------------- PAGE SECTIONS -------------------*/

#splash {
  background: url(images/fashiontech2.jpg) no-repeat center top fixed;
  background-size: cover;
  height: 900px;
}

#overview {
    padding: 60px 80px;
    background-color: #8A807E;
    color: #FFF;
}

#video {
    padding: 60px 80px 120px 80px;
    background: url(images/robotandwindow3.jpg) no-repeat center top fixed;
    color: #FFF;
}

#table {
    padding: 60px 80px;
    background-color: #e8d1d1;
    color: #FFF;
}

#footer {
    padding: 60px 80px;
    background-color: #D3D1CE;
    color: #FFF;
}

/*-------------------- CONTAINER STYLES ----------------*/

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.half_container {
    width: 50%;
    float: left;
    overflow: hidden;
}

/*-------------------- NAV BAR STYLES -----------------*/

#navbar{
	position: fixed;
	top: 0;
	width: 100%;
	height: 54px;
	background-color: rgba(212, 210,  207, 0.8);
}

ul#menu {
	list-style: none;
	padding-top: 0px;
}

ul#menu li {
	float: left;
	padding-bottom: 20px;
}

ul#menu li a.button {
	font-size: 16px;
	color: #8A807E;
	text-decoration: none;
	padding: 20px 113px 20px 113px; 
	font-weight: bold;
}

ul#menu li a.button:hover {
	background-color: rgba(233, 209,  210, 0.8);
	color: #FFF;
	font-weight: bold;
}

/*-------------------- TITLE PAGE STYLES ---------------*/

#title-page {
  width: 100%;
  padding-top: 150px;
  color: #e8d1d1;
  text-align: center;
  margin-right: 20px;
}

#title-page h1 {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 120px;
    line-height: 0.7em;
    text-shadow: 7px 7px #8A807E;
    padding: 0;
    margin: 0 auto;
}

#title-page h3 {
    font-family: 'Pragati Narrow', sans-serif;    
    font-size: 30px;
    padding: 0;
    margin: 0 auto;
    text-shadow: 2px 2px #8A807E;
}

/*---------------- FOOTER STYLES -------------*/

#credits {
    text-align: center;
}

#credits p {
    font-size: 1em;
    margin: 10px 0 10px 245px;
    color: #000;
    width: 50%;
}

#credits table {
    margin: 0 auto;
}

.fltright{
	float:right;
	margin: 5px 0 30px 30px;
}